<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-AU">
<head>
 <title>Mipper</title>
 <meta http-equiv="content-type" content="application/xhtml; charset=UTF-8" />
 <link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen, tv, projection" />
 {% block head %} {% endblock %}
</head>
<body class="general">
  <div id="container">
    <div id="logo">
      <h1>Mipper</h1>
      <span class="medium">Mips Asm Interpreter</span>
    </div>

    <div class="br"></div>

    <div id="sidebar">
      {% block sidebar %} {% endblock %}
    </div>

    <div id="content">
      {% block content %} {% endblock %}
    </div>
    <div class="br"></div>
    <div id="footer">
      <p class="center">Copyright &copy; 2006 | <a href="#">XHTML</a> | <a href="#">CSS</a> | <a href="http://www.willr.co.nz">design by willr</a></p>
      <br />
    </div>
  </div>
</body>
</html>
