{% extends "mips/base.html" %}

{% block head %}
<script type="text/javascript" src="/javascript/jquery.js"></script>
<script type="text/javascript" src="/javascript/form.js"></script>
<script type="text/javascript" src="/javascript/programs.js"></script>
{% endblock %}

{% block sidebar %}
Programs
<ul id="proglist">
  {% for program in programs %}
  <li><a href="#">{{ program.name }}</a></li>
  {% endfor %}
</ul>
Commands
<ul id="command_list">
  <li><a id="add_button" href="#">Add Program</a></li>
  <li><a id="del_button" href="#">Del Program</a></li>
  <li><a id="logout" href="{{logout_url}}">Logout</a></li>
  <li><a id="back" href="/">Back</a></li>
</ul>
{% endblock %}

{% block content %}
{% if exception %}
<p style="color:red;font-size:20px;"> {{exception}} </p>
{% else %}
<p> On this page you may either select a program from the list of programs on the left or add/delete a program using the commands in the command bar</p>
{% endif %}
{% endblock %}
